lib/test
*.cmi
*.mli~
*.ml~
*.in~
*.mll~
*.mly~
src/parser.ml
Makefile~
src/lexer.ml
*.cmo
src/parser.mli
_build/*
*.ml#
*.mli#
*.aml~
*.output
*.mly#
*.swp

main

*.byte

*.native

example/loop.cpp

example/agent.cpp

example/calc.cpp

example/variable.cpp

*.out

*.mll#

*.aml#
